$font-family-base: "Inter", sans-serif;

$font-l: 36px;
$font-m: 16px;
$font-s: 14px;
$font-xs: 12px;
$font-2xs: 10px;

$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

$line-height-l: 1.4;
$line-height-m: 1.5;
$line-height-s: 1.5;
$line-height-xs: 1.5;
$line-height-2xs: 1.5;
