@charset "UTF-8";
/* 주석을 꼭! 달아주세요. 본인 파트 옆에 이름 그리고 기능에 대한 주석
ex) 상품목록 - 송민혁
무슨무슨 기능
코드 블라블라
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  background: rgba(249, 248, 246, 0.9);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.heading-l {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
}

.heading-xs {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
}

.heading-m {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

#header {
  border-bottom: 1px solid #e4e4e7;
  background: rgba(228, 228, 231, 0.5);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-wrapper .header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-wrapper .header-left .logo a {
  display: flex;
  align-items: center;
}

.header-wrapper .header-left .gnb-list {
  display: flex;
  gap: 20px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.header-wrapper .header-actions {
  display: flex;
  gap: 15px;
}

.menu-btn {
  display: none;
  border: 0;
  background: none;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

@media (max-width: 1199px) {
  .header-wrapper {
    max-width: 768px;
    padding: 20px 40px;
  }
}
@media (max-width: 767px) {
  .header-wrapper {
    max-width: 430px;
    padding: 20px 20px;
  }
  .header-wrapper .gnb,
  .header-wrapper .header-actions {
    display: none;
  }
  .menu-btn {
    display: flex;
    align-items: center;
  }
  .mobile-menu {
    display: block;
    position: fixed;
    top: 67px;
    right: -100%;
    width: 260px;
    height: calc(100vh - 66px);
    background: #ffffff;
    border-left: 1px solid #e4e4e7;
    transition: right 0.3s;
    z-index: 1000;
  }
  .mobile-menu.is-open {
    right: 0;
  }
  .mobile-menu ul {
    padding: 24px;
  }
  .mobile-menu li + li {
    margin-top: 20px;
  }
}
.footer-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 120px 80px 0;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
.footer-wrapper h2 {
  margin-bottom: 24px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.footer-info dl {
  display: grid;
  grid-template-columns: 0.8fr 2fr;
  gap: 6px;
}
.footer-info dl dt {
  color: rgba(24, 24, 27, 0.6);
}
.footer-info dl dd {
  color: rgba(24, 24, 27, 0.8);
}

.footer-menus,
.copyright {
  display: flex;
}

.footer-menus {
  gap: 10px;
}
.footer-menus .menu-group h3 {
  color: rgba(24, 24, 27, 0.6);
  margin-bottom: 16px;
}
.footer-menus .menu-group ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-menus .menu-group li {
  color: rgba(24, 24, 27, 0.8);
}

.social-links {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
}
.social-links a {
  width: 32px;
  height: 32px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8a8a8a;
  text-decoration: none;
}
.social-links img {
  width: 18px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.copyright p:first-child {
  color: rgba(24, 24, 27, 0.8);
}
.copyright p:last-child {
  color: rgba(24, 24, 27, 0.6);
}

@media (max-width: 767px) {
  .footer-wrapper {
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    padding: 48px 16px 0;
  }
  .footer-info {
    flex-direction: column-reverse;
    gap: 24px;
  }
  .footer-menus {
    gap: 48px;
  }
  .footer-menus .menu-group h3 {
    margin-bottom: 0;
  }
  .footer-menus .menu-group ul {
    display: none;
  }
  .company-info dl {
    grid-template-columns: 0.3fr 2fr;
    gap: 8px 16px;
  }
  .social-links {
    margin-top: 24px;
  }
  .copyright {
    flex-direction: column;
    gap: 8px;
    padding: 20px 0;
  }
}/*# sourceMappingURL=common.css.map */