@use "./typography" as typo;
@use "./variables" as var;
@use "./colors" as clr;
// header -- 최수민(송민혁 scss에 맞게 일부 수정)
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid clr.$color-border;
}

.header .header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header .header-left .gnb-list {
  display: flex;
  gap: 20px;
  @include typo.font-s(var.$weight-bold);
}

.header .header-actions {
  display: flex;
  gap: 15px;
}
